<div class="py-8">
  <div class="lg:px-8">
    <div class="lg:max-w-4xl">
      <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
        <h1 class="text-2xl font-bold leading-7 text-slate-900" id="pdx-food">PDX Food</h1>
      </div>
    </div>
  </div>

  <div class="sm:mt-4 lg:mt-8 lg:border-t lg:border-slate-100">
    <article class="py-10 sm:py-12">
      <div class="lg:px-8">
        <div class="lg:max-w-4xl">
          <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
            <div class="prose prose-slate mt-1 text-base leading-7 text-slate-700 lg:prose-lg prose-a:text-pink-500 hover:prose-a:text-pink-700 active:prose-a:text-pink-900">
              <p>
                If you know me, you know I love food. If you don’t know me, well, now you know at
                least one thing about me! I’ve lived in Portland since 2011, so I’ve amassed a
                decent list of favorite places to eat and drink. Portland’s a small city, but it
                punches way above its weight when it comes to the food scene. I love it when people
                visit and get to experience that for themselves, so I’ve put together a list of
                some of my favorite places to eat and drink around the city. I also keep a longer
                list of recommendations on Apple Maps and try to keep it up to date with new places
                I’ve tried and enjoyed; if you’re planning a longer trip, you should

	                <a href="https://guides.apple.com/?ug=CghQRFggRm9vZBIMCK5NELyCn5jF9YEpEg4Irk0Qn7H%2FgdeTyrScARIOCK5NEP%2Fkk8nsxJ25lwESDgiuTRDU356qypzu2%2BkBEg0Irk0QwvSGncefpa9FEg4Irk0QuYW2v93rzaHHARIOCK5NEMam36jOiOu2%2FgESDgiuTRD50ce35oncz5oBEg0Irk0Q7rjs0PvPiJBfEg4Irk0QpI68u%2F%2Fk3dXkARINCK5NEIvZhuq6n5T%2BDRINCK5NENjEgJiK%2FZPUWxINCK5NENXd4tqdrZKVPRIOCK5NEKe8jqCO1%2FibzgESDQiuTRDD%2BK2WwsK4gHISDQiuTRDk%2FJ%2BcgdG0vBESDQiuTRCR8bjY9%2Bz%2F214SDQiuTRDS5vCAlfj61icSDQiuTRD2oeD9tpuPix0SDQiuTRDe8YqWldjqrl4SDQiuTRCfgYKo4NKetlISDgiuTRDPyqC0t7Lw1KkBEg0Irk0Qr%2Favh8LaqcxEEg4Irk0Qncf5s%2Fnm7ei7ARIOCK5NELb56%2BSjiJ365QESDgiuTRCuvuW%2BuJiukv8BEg4Irk0QndHlibCKtI64ARIOCK5NEPfFi%2BivlbTtxgESDgiuTRDA6ITPpt%2F5juoBEg0Irk0Q%2Fo676OiiwaRSEg4Irk0Q3p%2Bblc7b%2F%2BeLARIOCK5NEK%2FAyNjp14%2FpuwESDgiuTRCg6sSezaaBnLQBEg0Irk0QtvLV79j635tkEg4Irk0Qi%2BfJ99DqmvbmARIOCK5NELTO3p6ThOnrhQESDQiuTRCZ%2B9aApMux%2FHcSDgiuTRDO%2Fvaits7bpvMBEg0Irk0QzOXd8syJ9%2FNnEg4Irk0Q7Med0a6lmorOARIOCK5NEJbk%2Br609aSdyQESDQiuTRDhieLX8Nyx0l8SDgiuTRCCz7ycnr299JsBEg0Irk0Qu7zg1OGUoOQ2Eg4Irk0QnqfYts%2Fsz%2BalARIOCK5NEKTfj6fOr8OdxwESDgiuTRDUkIzotN%2Fpz54BEg4Irk0Q1Lu%2B59P6grbXARIOCK5NEIXt8Znk3qvPtgESDgiuTRDerZ78mr2Y1tIBEg4Irk0Q8JWdub%2BE2v6MARINCK5NEKi%2FtvbclrK8VRIOCK5NEKmv48y5%2FYmr3wESDgiuTRCt1pjKpKH3tdsBEg4Irk0Q04PP1Nzf0%2BXBARIOCK5NEO%2BH1b6c1v6%2F8AESDQiuTRCOjqX3%2BsjRzTESDQiuTRDDwoD1s5renEESDQiuTRCw8NuumbP%2F5A4SDgiuTRDy1ZG4wpWO%2BKsBEg4Irk0Q3%2B3vyYCC5L%2BdARIOCK5NEMeFgJW06tuFrwESDQiuTRD%2BicSJvNHip3ISDgiuTRDeyvSRsOOog9UBEg4Irk0QqNiw3N%2Bfh4n3ARINCK5NEILKg%2BWI1sbkdhIOCK5NEJPNp56h2LSR%2BQESDgiuTRDHprCg3%2B3jz6cBEg4Irk0Q%2F%2F6y1JXvgsDMARIOCK5NEJ7RionN7%2FGR9AESDgiuTRCIlu2YldHjksUBEg0Irk0Q2PmJq4Ga%2BbxlEg0Irk0QjPrB4aGXit9%2BEg4Irk0Q7oyo0OfyvfOkARINCK5NEIfo47WD2LeUNhIOCK5NEKT1tsGB8p6BxwESDgiuTRCko%2FmquJvujLMBEg4Irk0Q47Ot1dmMhbvXARIOCK5NEJza5uigzrDlgQESDgiuTRDPivaN4u6Yoa8BEg0Irk0Qkei7xZ%2FNoOVNEg0Irk0QmrPui7mU7uJxEg0Irk0QwuXS0sSvkPViEg0Irk0Qw%2F3u1c%2Frtv09Eg4Irk0Qzv6tvZ2Ene%2BAARIOCK5NEPX4rNzm%2BqSqhwESDgiuTRDr192us4y6j9wBEg0Irk0QwYKj3O%2Fq%2FbYKEg4Irk0Q4LiGq8O9%2FoquARIOCK5NELrm2brV1qaWjQESDQiuTRCh%2BLOP6f2X3iYSDgiuTRDlsaO6y43K1qgBEg0Irk0QqcCHkYnO1MxyEg4Irk0QmvLWmIayzqmVARIOCK5NEJ%2Fn%2FrvGr5%2Fk%2FQESDgiuTRC2ztTHgpHgqdABEg4Irk0QxL%2FppZPd0bvJARIOCK5NEL7W9ZmCnNb5%2FQESDgiuTRCAz7%2FKvrGO488BEg4Irk0Q4MuJp5uamsfcARIOCK5NELDF%2BOihneHP7wESDgiuTRDh9t%2F10PL9vdcBEg0Irk0Qq9iVkfrImd58Eg4Irk0Qx4y23MfB4bbhARIOCK5NEKajt8%2FgnY%2BUlwESDQiuTRDPgcTTlPHt4AgSDQiuTRD32urjvvjE0Dc%3D" target="_blank">
                  check it out!
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>

  <div class="lg:px-8">
    <div class="lg:max-w-4xl">
      <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
        <h1 class="text-2xl font-bold leading-7 text-slate-900" id="breakfast-and-brunch">☕ Coffee</h1>
      </div>
    </div>
  </div>

  <article class="py-4 sm:py-6">
    <div class="lg:px-8">
      <div class="lg:max-w-4xl">
        <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
          <div class="prose prose-slate mt-1 text-base leading-7 text-slate-700 lg:prose-lg prose-a:text-pink-500 hover:prose-a:text-pink-700 active:prose-a:text-pink-900">
            <ul>
              <li>
                <a href="https://maps.apple.com/?auid=3947546524289343035" target="_blank">Push x Pull</a> is a
                new favorite of mine. They do great small-batch light roasts that result in deliciously bright,
                fruit-forward espresso drinks. I’ve only been a few times so far, but the cappuccinos and
                cortados have been some of the best I’ve ever had, with the espresso managing to shine through
                the milk in a way that many other places can’t seem to manage.
              </li>

              <li>
                <a href="https://maps.apple.com/?auid=3574528002939766542" target="_blank">Coava</a> and
                <a href="https://maps.apple.com/?auid=13533799804601000861" target="_blank">Roseline</a> are
                consistently two of my favorite roasters in Portland, and both have multiple locations around
                Portland. Coava’s flagship location is a bright, airy, and industrial space in the Central Eastside
                and Roseline’s flagship location on NE Davis St. is brand new and beautiful. Coava is great for
                no-nonsense espresso drinks and pour-overs; Roseline is good for this too, but they also always
                have fun and interesting seasonal drinks on the menu.
              </li>

              <li>
                <a href="https://maps.apple.com/?auid=11141747485174786297" target="_blank">Proud Mary</a> is where
                I send my fellow coffee nerds, the sickos who need the very best, regardless of the price. They’re a
                Melbourne import and they pretty much always have rare and interesting coffees. They pull fantastic
                espresso, but I think pour-over is where they shine, especially with the rare stuff.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </article>

  <div class="lg:px-8">
    <div class="lg:max-w-4xl">
      <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
        <h1 class="text-2xl font-bold leading-7 text-slate-900" id="licensing">🍳 Breakfast/Brunch</h1>
      </div>
    </div>
  </div>

  <article class="py-4 sm:py-6">
    <div class="lg:px-8">
      <div class="lg:max-w-4xl">
        <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
          <div class="prose prose-slate mt-1 text-base leading-7 text-slate-700 lg:prose-lg prose-a:text-pink-500 hover:prose-a:text-pink-700 active:prose-a:text-pink-900">
            <ul>
              <li>
                <a href="https://maps.apple.com/?auid=16477394675203770148" target="_blank">Masala Lab</a> takes
                brunch standards and gives them incredibly delicious Indian twists, like Chaat Hash or Saagshuka.
                You can’t go wrong with anything on the menu and I don’t think there’s anything else to say. Go here.
              </li>

              <li>
                <a href="https://maps.apple.com/?auid=14358380913181426361" target="_blank">Bialy Bird</a> makes
                bialys. They’re similar to bagels (though not boiled), with a depression in the middle instead of
                a hole. Bialy Bird makes theirs fresh daily, with seasonal fillings and schmears that change almost
                every week. Try a small variety (the okonomiyaki bialy is standout and always available) or get an
                incredible breakfast sandwiches made with any of their bialys!
              </li>

              <li>
                <a href="" target="_blank">Starter Bread</a> is a sourdough-focused bakery that makes some of the
                best bread in Portland, with really great pastries and sandwiches, too. They’re only open on
                Sunday morning, and lines do form, but it’s worth it!
              </li>

              <li>
                In the morning, <a href="https://maps.apple.com/?auid=14859594779259543079" target="_blank">Cafe Olli</a>
                operates as a bakery and café, serving up delicious pastries, toasts, breakfast sandwiches, and more.
                They’re a great spot for a weekday breakfast or weekend brunch!
              </li>

              <li>
                <a href="https://maps.apple.com/?auid=11270584199129585823" target="_blank">Woodlawn Coffee & Pastry</a>
                is near and dear to my heart. And my body (they’re my neighborhood coffee shop). They use Proud Mary
                beans to make good coffee, and they make great pastries in-house with a wide selection as well as a
                small breakfast/lunch menu. The star of the show here, though, is the cinnamon roll. Pray that you
                luck out and pop in when they’re pulling a batch fresh from the oven.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </article>

  <div class="lg:px-8">
    <div class="lg:max-w-4xl">
      <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
        <h1 class="text-2xl font-bold leading-7 text-slate-900" id="licensing">🍱 Restaurants</h1>
      </div>
    </div>
  </div>

  <article class="py-4 sm:py-6">
    <div class="lg:px-8">
      <div class="lg:max-w-4xl">
        <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
          <div class="prose prose-slate mt-1 text-base leading-7 text-slate-700 lg:prose-lg prose-a:text-pink-500 hover:prose-a:text-pink-700 active:prose-a:text-pink-900">
            <ul>
              <li>
                Come noon, <a href="https://maps.apple.com/?auid=14859594779259543079" target="_blank">Cafe Olli</a>
                does wood fire. Bread, meat, fish, vegetables, pizza, even pasta... They all go in that oven.
                <a href="https://maps.apple.com/?auid=17531790366307368782" target="_blank">Ken’s Artisan</a> may
                win a lot of awards, and it’s definitely worth visiting (early, to avoid waiting for hours), but Cafe
                Olli is my favorite. The toppings are fresh and interesting with 2-3 seasonal pizzas on the menu,
                but the always-available Pomodoro might just be my favorite pizza <em>ever</em>. Do yourself a
                favor and add stracciatella.
              </li>

              <li>
                <a href="https://maps.apple.com/?auid=12078530428039598919" target="_blank">Nimblefish</a> is some of
                the best sushi in Portland, hands down. They’re a 12-seat omakase spot serving edomai-style nigiri
                with seasonal fish from Japan. You’ll need a reservation, but they do have a smaller 5-seat counter
                for walk-ins (and a la carte ordering) if you didn’t plan ahead. The best part? You won’t pay nearly
                as much as you would for a similar experience in NY or SF.
              </li>

              <li>
                <a href="https://maps.apple.com/?auid=6158893173613371304" target="_blank">Afuri</a> came from
                Japan for our water and they brought their signature yuzu shio ramen with them. Unlike their
                casual locations in Japan, the Portland location is an upscale izakaya with a full menu of
                small plates, skewers, sushi, and ramen (of course). Go with some friends (and me?), share a
                bunch of food, and finish off with a bowl of the yuzu shio (or yuzu ratan if you’re feeling spicy).
              </li>

              <li>
                <a href="https://maps.apple.com/?auid=1258987577735118436" target="_blank">Eem</a> is Thai BBQ,
                marrying the two perfectly with dishes like white curry with brisket burnt ends, smoked red curry
                sausage with nam prik num, infused with rotating curries, or chopped bbq fried rice. Their sister
                restaurant, <a href="https://maps.apple.com/?auid=16639792736294302603" target="_blank">Phuket Cafe</a>,
                offers a similar style of Thai food but without the smoked meats. For a special occasion, snag a
                reservation at <a href="https://maps.apple.com/?auid=9644357589547853620" target="_blank">Langbaan</a>,
                the prix fixe tasting menu experience in the back of Phuket Cafe. They also all have incredible bar
                programs full of inventive vacation cocktails/mocktails (and Langbaan, of course, has pairings).
              </li>

              <li>
                <a href="https://maps.apple.com/?auid=16841132623740252116" target="_blank">Hat Yai</a> is a
                Southern Thai restaurant with Malaysian influences, just like the city it’s named after. Their
                specialty is Hat Yai fried chicken, malayu curry, and buttery roti. The chicken is amazing, but
                whatever you do, don’t skip the curry or roti!
              </li>

              <li>
                Speaking of fried chicken, it’s hard to beat <a href="https://maps.apple.com/?auid=16869893742392325184" target="_blank">Jojo</a>.
                Get some chicken and jojos. Get them loaded. Get a fried chicken sandwich or a smashburger.
                Get dessert! Vegetarian or vegan? No problem, they have vegetarian/vegan options for pretty
                much everything on the menu, with fried tofu, beyond meat, and vegan cheeses. They’re also
                known for being completely unhinged on <a href="https://www.instagram.com/jojo.pdx" target="_blank">social media</a>.
              </li>

              <li>
                If you love fruits of the sea, look no further than
                <a href="https://maps.apple.com/?auid=18287004260203738015" target="_blank">Jacqueline</a>, a
                heavily seasonal seafood restaurant on SE Clinton St. Order a couple small plates yourself or,
                if you're indecisive like me, let them choose what to bring you. Show up between 5-6pm for
                their oyster happy hour and sip on something from their great wine list!
              </li>

              <li>
                <a href="https://maps.apple.com/?auid=12225515502566909263" target="_blank">Gado Gado</a> is an
                Indonesian-focused restaurant that I love taking friends to when they visit. You can order some
                amazing food a la carte, but I recommend going hungry and doing the rijsttafel. They’ll fill
                your table with lots and lots of small plates and you can try most of the menu!
              </li>

              <li>
                <a href="https://maps.apple.com/?auid=8559401912370259202" target="_blank">Lardo</a> makes
                awesome pork-centric sandwiches and fries in a fast-casual setting with a great tap list.
              </li>

              <li>
                <a href="https://maps.apple.com/?auid=12613297584771957447" target="_blank">Grassa</a> is
                another good fast-casual spot with a focus on fresh-made pasta.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </article>

  <div class="lg:px-8">
    <div class="lg:max-w-4xl">
      <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
        <h1 class="text-2xl font-bold leading-7 text-slate-900" id="licensing">🍹 Drinks (and, ok, maybe more food)</h1>
      </div>
    </div>
  </div>

  <article class="py-4 sm:py-6">
    <div class="lg:px-8">
      <div class="lg:max-w-4xl">
        <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
          <div class="prose prose-slate mt-1 text-base leading-7 text-slate-700 lg:prose-lg prose-a:text-pink-500 hover:prose-a:text-pink-700 active:prose-a:text-pink-900">
            <ul>
              <li>
                <a href="https://maps.apple.com/?auid=18333499069996454726" target="_blank">Expatriate</a> makes
                killer cocktails in a space that just oozes ambiance. The menu is small, and each drink has a
                surprising number of ingredients that belies the balance of the final product. I love getting
                the “diplomatic pouch” and letting the bartender craft something unique while I munch on their
                onion and butter sandwich (trust me) or shrimp toast.
              </li>

              <li>
                <a href="https://maps.apple.com/?auid=13533948818568126511" target="_blank">Scotch Lodge</a> is
                probably the best place in Portland to drink whisk(e)y if you aren’t already a member of the
                <a href="https://maps.apple.com/?auid=289993969095376392" target="_blank">Multnomah Whiskey Library</a>.
                They boast a large selection of bottles, a great cocktail menu, and some of the most beautifully
                plated food you’ll find in a bar.
              </li>

              <li>
                <a href="https://maps.apple.com/?auid=1007769458497924235" target="_blank">Tulip Shop Tavern</a> is
                deceptive. I wouldn’t call it a dive, but it’s an unpretentious bar with some punk/grunge vibes
                that still manages to make some very well crafted cocktails while the kitchen churns out classic
                (but incredibly well executed) bar food. Their burger is one of the best in the whole city.
              </li>

              <li>
                <a href="https://maps.apple.com/?auid=4998596448420477506" target="_blank">Dame</a> is a great
                place to sip on some natural wine (and, if you’re hungry, eat a great dinner). They also have
                a small bottle shop if you want to take some wine home with you.
              </li>

              <li>
                In a city that’s full of breweries, <a href="https://maps.apple.com/?auid=23089384799060284" target="_blank">Breakside</a>
                has been a favorite of mine for years. They have a new location in Slabtown with more taps, but
                their original location on Dekum is still a regular spot for me since it’s three blocks from my
                home. They’ve unfortunately made some bad changes to their food program recently, but it’s still
                a great place to drink some local beer.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </article>

  <div class="lg:px-8">
    <div class="lg:max-w-4xl">
      <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
        <h1 class="text-2xl font-bold leading-7 text-slate-900" id="licensing">🍦 Sweet Treats</h1>
      </div>
    </div>
  </div>

  <article class="py-4 sm:py-6">
    <div class="lg:px-8">
      <div class="lg:max-w-4xl">
        <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
          <div class="prose prose-slate mt-1 text-base leading-7 text-slate-700 lg:prose-lg prose-a:text-pink-500 hover:prose-a:text-pink-700 active:prose-a:text-pink-900">
            <ul>
              <li>
                <a href="https://maps.apple.com/?auid=8214814296434768963" target="_blank">JinJu</a> is another
                fantastic Portland patisserie, and I especially love their sweet pastries and macarons. They
                often put out fun specials on the weekends, but they do tend to form lines and sell out.
              </li>

              <li>
                <a href="https://maps.apple.com/?2859200553955373906" target="_blank">Lovely’s Fifty Fifty</a> is a
                local favorite that’s lauded for both their pizza and their ice cream. You should try to get a
                table for dinner if you can, but if you can’t, still stop by for dessert and get ice cream to go.
              </li>

              <li>
                <a href="https://maps.apple.com/?auid=4407415904335867605" target="_blank">Pronto Gelato</a> is a
                relative newcomer, offering up classic Gelato flavors like pistachio and stracciatella with some
                seasonal flavors and sorbettos. You can also get an affogato with espresso from
                <a href="https://maps.apple.com/?auid=18430523014044634160" target="_blank">Spella Caffe</a>,
                the owner’s downtown italian-style espresso bar.
              </li>

              <li>
                <a href="https://maps.apple.com/?auid=6799778759693220062" target="_blank">Pip’s Original Donuts</a>
                is one of those Portland institutions that’s still worth visiting after all these years. Get a
                variety box so you can try all of the flavors, and don’t skip the chai!
              </li>

              <li>
                Do you like pie? Go to <a href="https://maps.apple.com/?auid=15011483305247057718" target="_blank">Lauretta Jean’s</a>.
                Try the pie.
              </li>

              <li>
                Vegan? Or just lactose intolerant? <a href="https://maps.apple.com/?auid=2095929589757382902" target="_blank">Kate’s Ice Cream</a>
                has really good vegan ice cream that’s deceptively rich and creamy rather than icy or grainy.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>

<%= content_for(:og_title, "PDX Food") %>
<%= content_for(:og_description, "My favorite places to eat and drink in Portland.") %>
