---
http_interactions:
- request:
    method: post
    uri: https://botsin.space/api/v1/statuses
    body:
      encoding: UTF-8
      string: '{"status":"Hello, world!"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer MASTODON_ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Reset:
      - '2023-02-06T06:00:00.206076Z'
      Etag:
      - W/"6c262e7456e11093798a3329258033e8"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"109815732381019049","created_at":"2023-02-06T03:44:56.151Z","in_reply_to_id":null,"in_reply_to_account_id":null,"sensitive":false,"spoiler_text":"","visibility":"public","language":"en","uri":"https://botsin.space/users/ewdavidcelis/statuses/109815732381019049","url":"https://botsin.space/@ewdavidcelis/109815732381019049","replies_count":0,"reblogs_count":0,"favourites_count":0,"edited_at":null,"favourited":false,"reblogged":false,"muted":false,"bookmarked":false,"pinned":false,"content":"\u003cp\u003eHello,
        world!\u003c/p\u003e","filtered":[],"reblog":null,"application":{"name":"davidcel.is
        (development)","website":"http://localhost:3000/"},"account":{"id":"109814833622721142","username":"ewdavidcelis","acct":"ewdavidcelis","display_name":"Ew,
        David!","locked":false,"bot":true,"discoverable":false,"group":false,"created_at":"2023-02-05T00:00:00.000Z","note":"\u003cp\u003eThis
        is an automated account that I use to test my website\u0026#39;s cross-posting
        capabilities.\u003c/p\u003e","url":"https://botsin.space/@ewdavidcelis","avatar":"https://xoxo-media.sfo2.cdn.digitaloceanspaces.com/accounts/avatars/109/814/833/622/721/142/original/81a91228da462222.jpg","avatar_static":"https://xoxo-media.sfo2.cdn.digitaloceanspaces.com/accounts/avatars/109/814/833/622/721/142/original/81a91228da462222.jpg","header":"https://xoxo-media.sfo2.cdn.digitaloceanspaces.com/accounts/headers/109/814/833/622/721/142/original/f6ca314ebd2bced1.jpeg","header_static":"https://xoxo-media.sfo2.cdn.digitaloceanspaces.com/accounts/headers/109/814/833/622/721/142/original/f6ca314ebd2bced1.jpeg","followers_count":0,"following_count":1,"statuses_count":1,"last_status_at":"2023-02-06","noindex":false,"emojis":[],"fields":[{"name":"The
        Real Me","value":"\u003ca href=\"https://botsin.space/@davidcelis\" target=\"_blank\"
        rel=\"nofollow noopener noreferrer me\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"\"\u003ebotsin.space/@davidcelis\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e","verified_at":null}]},"media_attachments":[],"mentions":[],"tags":[],"emojis":[],"card":null,"poll":null}'
  recorded_at: Mon, 06 Feb 2023 03:44:56 GMT
recorded_with: VCR 6.1.0
