<% content_for(:page_title, params[:controller] == "posts" ? "All Posts" : params[:controller].titleize) %>

<section class="post-list divide-y divide-slate-100">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</section>
