/* Application styles */

span.ellipsis::after {
  content: "\2026";
}

.prose .invisible {
  font-size: 0;
  line-height: 0;
  display: inline-block;
  width: 0;
  height: 0;
}

.scrolling-touch {
  -webkit-overflow-scrolling: touch;
}
